.project-page {
	background-position: center;
	height: 100vh;
	position: relative;
}
.project-page-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90rem;
	width: 92%;
}
@media only screen and (max-width: 37.5em) {
	.project-page-content {
		width: 90%;
		margin: auto;
		padding-top: 30rem;
		position: static;
		transform: translate(0);
	}
}
@media only screen and (max-width: 425px) {
	.project-page-content {
		padding-top: 25rem;
	}
}
@media only screen and (max-width: 375px) {
	.project-page-content {
		padding-top: 20rem;
	}
}
.project-page-primary {
	color: var(--theme3);
	font-size: 6rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	cursor: default;
}
@media only screen and (max-width: 37.5em) {
	.project-page-primary {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 425px) {
	.project-page-primary {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 375px) {
	.project-page-primary {
		font-size: 3.5rem;
	}
}
@media only screen and (max-width: 325px) {
	.project-page-primary {
		font-size: 4rem;
	}
}
.project-page-info {
	margin: 3rem auto 0 auto;
	max-width: 80rem;
}
.project-page-secondary {
	color: var(--ivory);
	font-size: 2rem;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	cursor: default;
}
@media only screen and (max-width: 37.5em) {
	.project-page-secondary {
		font-size: 1.8rem;
	}
}
.project-page-button-area {
	margin-top: 5rem;
	text-align: center;
}
.project-page-button {
	background: transparent;
	color: var(--theme3);
	border: 2px solid var(--theme3);
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(102, 252, 241, 0.5);
	transition: background 0.5ss ease, transform 0.3s ease;
	position: relative;
	overflow: hidden;
	transition: 0.3s ease;
}
.project-page-button:hover {
	background: var(--theme3);
	border: 2px solid transparent;
	color: var(--textnBG-color);
	transform: translateY(-5px);
}
.project-page-button-size {
	padding: 1.5rem 8rem;
	font-size: 2rem;
	position: relative;
}
.text {
	display: block;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-bottom: 10px;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: bottom 0.3s ease, opacity 0.3s ease;
}
.project-page-button:hover .icon {
	bottom: 0;
	opacity: 1;
}
.project-page-button:hover .text {
	transform: translateY(-100%);
	opacity: 0;
}
.project-bg {
	background: rgba(245, 245, 245, 0.9);
}
.project-page-container {
	margin: 0 50px 50px 50px;
	padding: 1rem 0;
	border-radius: 10px;
}
@media only screen and (max-width: 56.25em) {
	.project-page-container {
		margin: 0 20px 20px 20px;
		padding: 1rem 0;
		border-radius: 15px;
	}
}
.project-page-main {
	max-width: 120rem;
	margin: auto;
	width: 92%;
}
@media only screen and (max-width: 56.25em) {
	.project-page-main {
		width: 80%;
	}
}
.project-page-img-container {
	width: 100%;
	margin-top: 6rem;
}
@media only screen and (max-width: 56.25em) {
	.project-page-container {
		margin-top: 0;
	}
}
.project-page-img {
	width: 100%;
}
@media only screen and (max-width: 56.25em) {
	.project-page-img {
		margin-top: -80px;
	}
}
.project-page-main-content {
	padding: 8rem 0;
	max-width: 90rem;
	margin: auto;
}
@media only screen and (max-width: 56.25em) {
	.project-page-main-content {
		margin-bottom: 0;
		text-align: center;
	}
}
.project-page-mc-content {
	margin: -7rem 0 7rem 0;
}
@media only screen and (max-width: 56.25em) {
	.project-page-mc-content {
		grid-template-columns: 1fr;
		grid-gap: 8rem;
		text-align: center;
	}
}
.pp-mc-content-primary {
	font-weight: 700;
	font-size: 2.8rem;
	margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.pp-mc-content-primary {
		font-size: 2.4rem;
	}
}
.pp-mc-content-secondary {
	text-align: justify;
	font-size: 1.8rem;
	line-height: 1.7;
	color: grey;
	margin-bottom: 2rem;
}

.pp-mc-tools {
	margin: 0 0 7rem 0;
}
@media only screen and (max-width: 900px) {
	.pp-mc-content-primary h3 {
		justify-content: center;
	}
}
.tools {
	display: flex;
	flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
	.tools {
		justify-content: center;
	}
}
.tools-set {
	padding: 1rem 2rem;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	font-size: 1.6rem;
	background: var(--theme4);
	border-radius: 5px;
	font-weight: 600;
	color: var(--textnBG-color);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	cursor: default;
	transition: 0.3s ease;
	cursor: default;
}
.tools-set:hover {
	transform: translateY(-5px);
}
.pp-mc-live {
	margin: 0 0;
}
.pp-sl-button {
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	font-weight: 700;
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	transition: transform 0.3s;
}
.pp-sl-button:hover {
	transform: translateY(-5px);
}
@media only screen and (max-width: 37.5em) {
	.pp-sl-button {
		margin-right: 0;
		width: 70%;
		margin-bottom: 2rem;
		text-align: center;
	}
}
.pp-sl-button:last-child {
	margin-left: 20px;
}
@media only screen and (max-width: 37.5em) {
	.pp-sl-button:last-child {
		margin: 0;
	}
}
.pp-sl-button-size {
	padding: 1.5rem 5rem;
	font-size: 1.6rem;
}
@media only screen and (max-width: 320px) {
	.pp-sl-button {
		padding: 1.5rem 2rem;
		font-size: 1.6rem;
	}
}
.button-color {
	background: var(--theme4);
	color: var(--textnBG-color);
}
