:root {
	--white_smoke: #f5f5f5;
	--ivory: #fffff0;
	--charcoal_gray: #171717;
	--textnBG-color: #0b0c10;
	--theme: #1f2833;
	--theme2: #c5c6c7;
	--theme3: #66fcf1;
	--theme4: #45a29e;
}
.navbar {
	background: var(--white_smoke);
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(54, 69, 79, 0.5);
	left: 50%;
	padding: 0.5rem;
	position: fixed;
	top: 2rem;
	transform: translate(-50%);
	width: calc(100% - 4rem);
	z-index: 1;
}
.navbar-contents {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem;
}
@media only screen and (max-width: 900px) {
	.navbar-contents {
		padding: 0 2rem;
	}
}
@media only screen and (max-width: 700px) {
	.navbar-me-name {
		padding: 0 0.2rem;
	}
}
.navbar-logo-container {
	align-items: center;
	color: var(--textnBG-color);
	cursor: pointer;
	display: flex;
	position: relative;
}
.navbar-me-name {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.3s;
}
@media only screen and (max-width: 700px) {
	.navbar-me-name {
		font-size: 1.4rem;
	}
}
.navbar-container {
	display: flex;
}
@media only screen and (max-width: 37.5em) {
	.navbar-container {
		display: none;
	}
	.active-header {
		border-radius: 10px;
	}
}
.navbar-shrtct {
	position: relative;
}
.navbar-shrtct a {
	color: var(--textnBG-color);
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 2.2rem 3rem;
	text-transform: uppercase;
	transition: color 0.3s;
}
@media only screen and (max-width: 900px) {
	.navbar-shrtct a {
		padding: 0;
	}
}
@media only screen and (max-width: 700px) {
	.navbar-shrtct a {
		font-size: 1.4rem;
		padding: 0;
	}
}
.navbar-shrtct a:before {
	background: var(--textnBG-color);
	border-radius: 50px;
	bottom: -15px;
	content: "";
	height: 6px;
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%) scaleX(0);
	transition: transform 0.5s ease, opacity 0.3s ease;
	width: 70%;
}
@media only screen and (max-width: 56.25em) {
	.navbar-shrtct {
		font-size: 1.5rem;
		padding: 1.8rem 2rem;
	}
}
.navbar-shrtct.active a:before {
	opacity: 1;
	transform: translateX(-50%) scaleX(1);
}
.navbar-menu-button {
	display: none;
}
@media only screen and (max-width: 37.5em) {
	.navbar-menu-button {
		display: block;
	}
}
.menu-button {
	border: 0;
	border-radius: 8px;
	color: var(--theme3);
	cursor: pointer;
	display: grid;
	height: 56px;
	opacity: 0.6;
	padding: 0;
	place-items: center;
	scale: 0.7;
	transition: 0.3s;
	width: 56px;
}
.menu-button:hover {
	opacity: 1;
}
.button-burger {
	border: 0;
	position: relative;
	width: 32px;
}
.button-burger,
.button-burger:after,
.button-burger:before {
	background: var(--textnBG-color);
	border-radius: 2px;
	display: block;
	height: 2px;
	transition: 0.3s;
}
.button-burger:after,
.button-burger:before {
	content: "";
	left: 0;
	position: absolute;
	width: 100%;
}
.button-burger:before {
	top: -8px;
}
.button-burger:after {
	top: 8px;
}
.button-burger.burger,
.button-burger.burger:after,
.button-burger.burger:before {
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.button-burger.burger:after,
.button-burger.burger:before {
	width: 16px;
}
.button-burger.burger:before {
	left: 0;
	transform-origin: 100% 0;
}
.button-burger.burger:after {
	left: 16px;
	transform-origin: 0 100%;
}
.button-burger.burger.is-closed {
	transform: rotate(-45deg);
}
.button-burger.burger.is-closed:before {
	transform: rotate(90deg) translate(10px, -1px);
}
.button-burger.burger.is-closed:after {
	transform: rotate(90deg) translate(-9px, 1px);
	width: 16px;
}
.navbar-menu {
	background: var(--white_smoke);
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(54, 69, 79, 0.5);
	margin-left: -3px;
	margin-top: 5px;
	opacity: 0;
	position: absolute;
	text-align: right;
	top: 100%;
	transition: all 0.3s;
	visibility: hidden;
	width: 100%;
}
.navbar-menu--active {
	opacity: 1;
	visibility: visible;
}
.navbar-menu-shrtct a {
	color: var(--theme);
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 2px;
	margin: -2px 0 0;
	padding: 2.5rem 3rem;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	transition: color 0.3s;
}
.navbar-menu-shrtct a:before {
	background: var(--textnBG-color);
	border-radius: 50px;
	bottom: 5px;
	content: "";
	height: 6px;
	left: 50%;
	margin-left: 5px;
	position: absolute;
	transform: translateX(-50%) scaleX(0);
	transition: transform 0.2s linear;
	width: 100%;
}
.navbar-menu-shrtct a:hover:before {
	opacity: 1;
	transform: translateX(-50%) scaleX(1);
}
.home {
	background-position: 50%;
	height: 728px;
	position: relative;
}
@media only screen and (max-width: 37.5em) {
	.home {
		height: 678px;
		margin-top: -200px;
	}
}
.home-content {
	left: 50%;
	max-width: 90rem;
	position: absolute;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 92%;
}
@media only screen and (max-width: 37.5em) {
	.home-content {
		margin: auto;
		padding: 19rem 0 13rem;
		position: static;
		transform: translate(0);
	}
}
.home-primary {
	color: var(--theme3);
	cursor: default;
	font-size: 6rem;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
	.home-primary {
		font-size: 4.5rem;
	}
}
.home-info {
	margin: 3rem auto 0;
	max-width: 80rem;
}
.home-secondary {
	color: var(--ivory);
	cursor: default;
	font-size: 2rem;
	line-height: 1.6;
	text-align: center;
	width: 100%;
}
@media only screen and (max-width: 37.5em) {
	.home-secondary {
		font-size: 2rem;
	}
}
.home-button-area {
	margin-top: 5rem;
	text-align: center;
}
.home-button {
	background: transparent;
	border: 2px solid var(--theme3);
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(102, 252, 241, 0.5);
	color: var(--theme3);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	transition: background 0.5ss ease, transform 0.3s ease;
	transition: 0.3s ease;
}
.home-button:hover {
	background: var(--theme3);
	border: 2px solid transparent;
	color: var(--textnBG-color);
	transform: translateY(-5px);
}
.home-button-size {
	font-size: 2rem;
	padding: 1.5rem 8rem;
	position: relative;
}
.text {
	display: block;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon {
	align-items: center;
	bottom: -50%;
	display: flex;
	justify-content: center;
	left: 50%;
	margin-bottom: 10px;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%);
	transition: bottom 0.3s ease, opacity 0.3s ease;
}
.home-button:hover .icon {
	bottom: 0;
	opacity: 1;
}
.home-button:hover .text {
	opacity: 0;
	transform: translateY(-100%);
}
.about {
	background: hsla(0, 0%, 96%, 0.9);
}
.about-container {
	border-radius: 10px;
	margin: 0 50px;
	padding: 12rem 0;
}
@media only screen and (max-width: 56.25em) {
	.about-container {
		border-radius: 15px;
		margin: 0 15px;
		padding: 8rem 0;
	}
}
.about-main {
	margin: auto;
	max-width: 120rem;
	width: 92%;
}
.about-main-content {
	margin-bottom: 9rem;
}
@media only screen and (max-width: 56.25em) {
	.about-main-content {
		margin-bottom: 8rem;
	}
}
.about-primary {
	color: var(--textnBG-color);
	cursor: default;
	display: block;
	font-size: 4rem;
	letter-spacing: 1px;
	letter-spacing: 3px;
	margin-bottom: 3.5rem;
	margin-top: 5rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.about-primary:after {
	background: var(--theme4);
	border-radius: 5px;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	top: calc(100% + 1.5rem);
	transform: translateX(-50%);
	width: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.about-primary:after {
		top: calc(100% + 1.2rem);
	}
}
.about-secondary {
	color: var(--textnBG-color);
	cursor: default;
	display: block;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.6;
	margin: auto;
	max-width: 80rem;
	text-align: center;
}
@media only screen and (max-width: 37.5em) {
	.about-secondary {
		font-size: 1.8rem;
	}
}
.about-other-contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10rem;
}
@media only screen and (max-width: 56.25em) {
	.about-other-contents {
		grid-template-columns: 1fr;
		grid-gap: 8rem;
	}
}
.about-oc-primary {
	color: var(--textnBG-color);
	cursor: default;
	font-size: 2.8rem;
	font-weight: 700;
	margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.about-oc-primary {
		font-size: 2.4rem;
	}
}
.about-oc-secondary {
	color: var(--textnBG-color);
	cursor: default;
	font-size: 1.8rem;
	line-height: 1.7;
	margin-bottom: 1rem;
	max-width: 60rem;
	text-align: justify;
}
.about-oc-s-para--hl {
	font-weight: 700;
	margin: 0 3px;
}
.about-oc-s-para:last-child {
	margin: 2rem 0 4rem;
}
.about-button-area {
	margin-top: 5rem;
}
.about-button {
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 0.3s;
}
.about-button:hover {
	transform: translateY(-5px);
}
.about-button2 {
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 0.3s;
}
.about-button2:hover {
	transform: translateY(-5px);
}
.about-button-size {
	font-size: 1.6rem;
	padding: 1.5rem 5rem;
}
.button-color {
	background: rgba(69, 162, 158, 0.5);
	color: var(--textnBG-color);
}
.skills {
	display: flex;
	flex-wrap: wrap;
}
.skills-set {
	background: rgba(69, 162, 158, 0.5);
	border-radius: 5px;
	color: var(--textnBG-color);
	cursor: default;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	padding: 1rem 2rem;
	transition: 0.3s ease;
}
.skills-set:hover {
	transform: translateY(-5px);
}
.projects {
	color: var(--theme3);
}
.projects-container {
	padding-block: 90px;
}
.projects-main {
	padding-inline: 16px;
}
@media (min-width: 575px) {
	.projects-main {
		margin-inline: auto;
		max-width: 540px;
		width: 100%;
	}
}
.projects .projects-main-content {
	margin-block-end: 40px;
}
.projects-primary {
	color: var(--theme3);
	display: block;
	font-size: 4rem;
	letter-spacing: 3px;
	margin-bottom: 2rem;
	margin-top: 5rem;
	position: relative;
	text-transform: uppercase;
}
.projects-secondary {
	color: var(--ivory);
	display: block;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.6;
	margin: auto auto 20px;
	max-width: 80rem;
}
@media only screen and (max-width: 37.5em) {
	.projects-secondary {
		font-size: 1.8rem;
	}
}
.projects-button {
	background: var(--theme3);
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 hsla(0, 0%, 100%, 0.35);
	color: var(--textnBG-color);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	transition: transform 0.3s;
}
.projects-button:hover {
	transform: translateY(-5px);
}
.projects-button-size {
	font-size: 1.6rem;
	padding: 1.5rem 5rem;
}
.projects-grid {
	display: grid;
	gap: 40px;
}
.project-card {
	background: hsla(0, 0%, 96%, 0.9);
	border-radius: 8px;
	box-shadow: 0 5px 15px 0 hsla(0, 0%, 100%, 0.35);
	display: flex;
	flex-direction: column;
	gap: 24px;
	overflow: hidden;
	padding: 24px;
	transition: 0.3s ease;
}
.project-card:hover {
	transform: scale(1.02);
}
@media (min-width: 575px) {
	.project-card {
		padding: 68px;
	}
}
.project-card-1 {
	padding-block-end: 0;
}
.project-card-1,
.project-card-2 {
	gap: 40px;
	padding-bottom: 20px;
}
.projects :is(.project-card-3, .project-card-4) {
	gap: 40px;
}
.project-card .project-c-primary {
	color: var(--theme4);
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}
.project-card .project-oc-primary {
	color: var(--charcoal_gray);
	font-size: 1.8rem;
	margin-block: 16px;
}
.project-card .project-oc-secondary {
	color: var(--charcoal_gray);
	font-size: 1.4rem;
	margin-block-end: 20px;
	text-align: justify;
}
.w-100 {
	width: 100%;
}
.animated-button-1 {
	background: none;
	border: none;
	cursor: pointer;
}
.animated-button-1 span {
	color: var(--textnBG-color);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 7px;
	padding-right: 15px;
	text-transform: uppercase;
}
.animated-button-1 svg {
	transform: translateX(-8px);
	transition: all 0.3s ease;
}
.animated-button-1:hover svg {
	transform: translateX(0);
}
.animated-button-1:active svg {
	transform: scale(0.9);
}
.hover-underline-animation {
	color: var(--theme4);
	padding-bottom: 20px;
	position: relative;
}
.hover-underline-animation:after {
	background-color: var(--theme4);
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
	width: 100%;
}
.animated-button-1:hover .hover-underline-animation:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
@media (min-width: 768px) {
	.projects-main {
		max-width: 720px;
	}
	.projects .projects-main-content {
		align-items: center;
		display: flex;
		gap: 30px;
		justify-content: space-between;
	}
	.projects .btn {
		min-width: max-content;
	}
}
@media (min-width: 992px) {
	.projects-container {
		padding-block: 120px;
	}
	.projects-main {
		max-width: 960px;
	}
	.projects .projects-grid {
		grid-template-columns: 1fr 1fr;
		row-gap: 50px;
	}
	.projects .projects-grid > li:nth-child(-n + 2) {
		grid-column: 1/3;
	}
	.project-card-1,
	.project-card-2 {
		align-items: flex-end;
		flex-direction: row;
	}
	:is(.project-card-1, .project-card-2) .project-card-content {
		width: 33.33%;
	}
	:is(.project-card-1, .project-card-2) .card-banner {
		width: 66.66%;
	}
	.project-card-1 .project-card-content {
		padding-block-end: 24px;
	}
	.project-card-2 .project-card-content {
		order: 1;
		padding-block-end: 24px;
	}
}
@media (min-width: 1200px) {
	.header,
	.projects-main {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.projects-main {
		max-width: 1320px;
	}
}
.contact-container {
	border-radius: 10px;
	margin: 0 50px;
	padding: 12rem 0;
}
@media only screen and (max-width: 56.25em) {
	.contact-container {
		border-radius: 15px;
		margin: 0 15px;
		padding: 8rem 0;
	}
}
.contact-main-content {
	margin-bottom: 98rem;
}
@media only screen and (max-width: 56.25em) {
	.contact-main-content {
		margin-bottom: 8rem;
	}
}
.contact-primary {
	color: var(--theme3);
	display: block;
	font-size: 4rem;
	letter-spacing: 1px;
	letter-spacing: 3px;
	margin-bottom: 3.5rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.contact-primary:after {
	background: var(--theme3);
	border-radius: 5px;
	content: "";
	height: 5px;
	left: 50%;
	position: absolute;
	top: calc(100% + 1.5rem);
	transform: translateX(-50%);
	width: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.contact-primary:after {
		top: calc(100% + 1.2rem);
	}
}
.contact-secondary {
	color: var(--ivory);
	display: block;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.6;
	margin: auto;
	max-width: 80rem;
	text-align: center;
}
@media only screen and (max-width: 37.5em) {
	.contact-secondary {
		font-size: 1.8rem;
	}
}
.contact-form-container {
	background: hsla(0, 0%, 96%, 0.9);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	margin: 5rem auto 0;
	max-width: 80rem;
	padding: 4rem;
	text-align: right;
	width: 95%;
}
@media only screen and (max-width: 37.5em) {
	.contact-form-container {
		padding: 3rem;
	}
}
.contact-form-field {
	margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
	.contact-form-field {
		margin-bottom: 2.5rem;
	}
}
.contact-form-label {
	color: var(--textnBG-color);
	display: block;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	text-align: left;
}
.contact-form-input {
	background: hsla(0, 0%, 96%, 0.9);
	border: 1px solid var(--ivory);
	border-radius: 5px;
	color: var(--textnBG-color);
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0;
	padding: 2rem;
	transition: 0.3s ease;
	width: 100%;
}
.contact-form-input:-webkit-autofill {
	background: hsla(0, 0%, 96%, 0.9);
	box-shadow: inset 0 0 0 0 rgba(11, 12, 16, 0.1);
}
.contact-form-input::placeholder {
	color: #999;
	font-size: 1.6rem;
	font-weight: 600;
}
.contact-form-input:focus::placeholder {
	color: transparent;
}
#message {
	min-height: 150px;
	overflow-y: auto;
	resize: vertical;
}
.contact-button {
	background: var(--theme4);
	border-radius: 5px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	color: var(--textnBG-color);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 0.3s;
}
.contact-button:hover {
	transform: translateY(-5px);
}
.contact-button-size {
	font-size: 1.6rem;
	padding: 2rem 4rem;
	width: 30%;
}
@media only screen and (max-width: 37.5em) {
	.contact-button-size {
		width: 100%;
	}
}
footer {
	background: rgba(31, 40, 51, 0.9);
}
.footer-container {
	padding: 70px 30px 20px;
	width: 100%;
}
.footer-icons {
	display: flex;
	justify-content: center;
}
.footer-icons a {
	background-color: var(--theme3);
	border: 2px solid var(--theme3);
	border-radius: 50%;
	box-shadow: 0 3px 10px 0 rgba(102, 252, 241, 0.5);
	margin: 10px;
	padding: 10px;
	text-decoration: none;
}
.footer-icons a:hover {
	background: var(--theme);
	transform: translateY(-5px);
	transition: 0.3s ease;
}
@media (max-width: 700px) {
	.footer-icons a {
		margin: 4px;
		padding: 8px;
	}
}
.footer-icons a i {
	color: var(--textnBG-color);
	font-size: 2.3em;
	opacity: 0, 1;
}
.footer-icons a:hover i {
	color: var(--theme3);
	transition: 0.5s;
}
.footer-shrtcts {
	margin: 30px 0;
}
.footer-shrtcts ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.footer-shrtcts ul li a {
	color: var(--ivory);
	font-size: 1.3em;
	margin: 10px;
	opacity: 0.7;
	text-decoration: none;
	transition: 0.5s;
}
.footer-shrtcts ul li a:hover {
	color: var(--theme3);
	opacity: 1;
}
@media (max-width: 700px) {
	.footer-shrtcts ul li a {
		margin: 10px;
		text-align: center;
		width: 100%;
	}
}
